@charset "UTF-8";

@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter-vf.woff2') format('woff2 supports variations'),
       url('../fonts/inter-vf.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: oblique 0deg 10deg;
}