@charset "UTF-8";

@font-face {
  font-family: 'Mulish';
  src: url('../fonts/mulish-vf.woff2') format('woff2 supports variations'),
       url('../fonts/mulish-vf.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish';
  src: url('../fonts/mulish-italic-vf.woff2') format('woff2 supports variations'),
       url('../fonts/mulish-italic-vf.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: italic;
}